body div.card-view {
  perspective: 500px;
}
body div.card {
  height: 30vmax;
  width: 20vmax;
  position: relative;
}
body div.card img.cardValue {
  width: 40%;
}
body div.card div.card-face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: blue;
  transition: transform 500ms ease-in-out;
}
body div.card div.card-back img.questionMarkCard {
  animation: dance 1s linear infinite 500ms;
}
body div.card div.card-front {
  transform: rotateY(180deg);
}
body div.card div.card-front p.cardName {
  font-size: 20px;
}
body div.card.visible div.card-back {
  transform: rotateY(-180deg);
}
body div.card.visible div.card-front {
  transform: rotateY(0);
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(30deg);
  }
}

/*# sourceMappingURL=style.css.map */
