$background-color : blue;

body{
div.card-view{
  perspective: 500px;
}
div.card{
    height: 30vmax;
    width: 20vmax;
    position: relative;

    img.cardValue {
      width:40%;
    }

    div.card-face{
      backface-visibility: hidden;
      position:absolute;
      width: 100%;
      height: 100%;
      border-radius:12px;
      background-color: $background-color;
      transition: transform 500ms ease-in-out;
    }
    
    div.card-back {

      img.questionMarkCard {
        
        animation: dance 1s linear infinite 500ms;
      }
  
    }

    div.card-front{

      transform: rotateY(180deg);

      p.cardName {
        font-size: 20px;
      }
    
    }

}

div.card.visible {
  
  div.card-back {
      transform: rotateY(-180deg); //hide card back
  }
  div.card-front {
      transform: rotateY(0); //show card front
  }
}

}

@keyframes dance {
    0%, 100% {
      transform: rotate(0);
    }
    20% {
      transform: rotate(-30deg);
    }
    70% {
      transform: rotate(30deg);
    }
  }